@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen overflow-y-scroll bg-dark-blueish-gray text-base leading-relaxed text-gray-300 antialiased;
  }
}

@layer components {
  .separator {
    @apply my-2 h-[1px] w-full bg-neutral-800;
  }
}

@layer utilities {
  .dashboard-layout {
    @apply grid h-screen [grid-template-rows:0.2fr_3fr] [grid-template-columns:clamp(3rem,10vw,5rem)] sm:[grid-template-columns:clamp(12rem,30vw,20rem)_1fr_1fr_1fr];

    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
  }

  .dashboard-sidebar {
    grid-area: sidebar;
  }

  .dashboard-header {
    grid-area: header;
  }

  .dashboard-main {
    grid-area: main;
  }
}
